<form>
  <input type="number" [(ngModel)]="num1" name="num1" placeholder="Enter first number">
  <input type="number" [(ngModel)]="num2" name="num2" placeholder="Enter second number">

  <button (click)="onClickSum()">Somar</button>
  <button (click)="onClickSubtract()">Subtrair</button>
  <button (click)="onClickMultiply()">Multiplicar</button>
  <button (click)="onClickDivide()">Dividir</button>
  <button (click)="onClickPercentage()">Porcentagem</button>
  <button (click)="onClickClear()">Limpar</button>

  <br>
  <span>Resultado: {{ result }}</span>
</form>
